<%- include("partials/header") -%>
<h1 class="helpHead">Simple instructions to use ToDo.</h1>
 <div class="helpContnt">

  <ul>
    <li>Simply type in your main focuses for the day.</li>
    <li>Click on the '+' symbol to add it to the list.</li>
    <li>After your task completion you can check the checkbox, it will delete the corresponding entry.</li>
    <li>Also you can delete the default entry if you want to after adding in your list.</li>
    <li>To use custom list add /category/'your custom title' followed by the link of the webapp.</li>
    <li>This 'your custom title' can be your list title.</li>
    <li>Your custom list will create, save tasks uder that category.</li>
    <li>Please remember your custom title, then you can access it in the same way afterwards.</li>
    <li>These will remain as a set of instructions until another updation, till then this will remain as a not so user-friendly webapp.</li>
  </ul>
 </div>



<%- include("partials/footer") -%>
<!-- <script>

var value = prompt("please enter an integer value");
alert(value);

</script> -->
